body {
	text-align: center;
	background-color: lightgray;
	border:5px solid black;
}
h1 {
	color: white;
	background-color: black;
	padding: 100px;
	border: 1px solid black;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;

}
h3 {
	border: 1px solid black;
}
p {
	border: 1px solid black;
}
button {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 50px;
	background-color: whitesmoke;
	font: bolder;
	box-shadow: 100px;
	border-radius: 10px;
}
img {
	border: 2px solid black;
}